@charset "UTF-8";
/*VARIABLES*/
:root {
  --beige-light: #f2eadf;
  --purple-rocks: #4a00e0;
  --yellow-high: #fcff5c;
  --grey-light: #4d4d4d;
  --grey-hard: #1a1a1a;
  --blue-hard: #000942;
  --caquita: tomato;
  --size300: 300;
  --size600: 600;
  --size800: 800;
  --font-Monserrat: "Montserrat", sans-serif;
  --font-Archivo: "Archivo Black", sans-serif; }

/* STYLES WORK PAGE */
/*Buttons hovers*/
.worksMain__title h1, h1 {
  font-size: 6rem;
  text-align: right;
  color: var(--purple-rocks);
  line-height: 5rem;
  margin: 2rem 0 2rem 1.5rem; }

.worksMain__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 2rem auto; }
  .worksMain__title a {
    background-color: var(--beige-light);
    border: 1px solid var(--grey-light);
    color: var(--grey-light);
    box-shadow: 3px 7px 15px -7px #6e6e6e;
    width: 30rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--grey-light);
    font-family: var(--font-Archivo);
    font-size: 2rem;
    letter-spacing: -1px;
    align-self: center; }
  .worksMain__title a:hover {
    background-color: var(--purple-rocks);
    color: var(--beige-light);
    border: none; }

.feedworks {
  display: grid;
  grid-template: repeat(10, 1fr)/repeat(10, 1fr);
  width: 100vh; }

.projectsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 750px 250px 250px 250px;
  grid-template-areas: "outstanding outstanding outstanding" "secondary tertiary tertiary" "panoramic panoramic panoramic" "simple1 simple2 simple3";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 80%;
  margin: 20px auto; }

.vivaProject {
  grid-area: outstanding;
  background-color: var(--beige-light);
  border: 2px solid var(--grey-hard);
  box-shadow: 3px 7px 15px -7px #6e6e6e;
  padding: 2rem; }
  .vivaProject div {
    width: 100%;
    height: 100%;
    background-image: url(../images/project-viva.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }

.duffelProject {
  grid-area: secondary;
  background-color: var(--beige-light);
  border: 2px solid var(--grey-hard);
  box-shadow: 3px 7px 15px -7px #6e6e6e;
  padding: 2rem; }
  .duffelProject div {
    width: 100%;
    height: 100%;
    background-image: url(../images/project-duffel.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }

.omProject {
  grid-area: tertiary;
  background-color: var(--beige-light);
  border: 2px solid var(--grey-hard);
  box-shadow: 3px 7px 15px -7px #6e6e6e;
  padding: 2rem; }
  .omProject div {
    width: 100%;
    height: 100%;
    background-image: url(../images/project-om.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }

.dkaryProject {
  grid-area: panoramic;
  background-color: var(--beige-light);
  border: 2px solid var(--grey-hard);
  box-shadow: 3px 7px 15px -7px #6e6e6e;
  padding: 2rem; }
  .dkaryProject div {
    width: 100%;
    height: 100%;
    background-image: url(../images/project-dkary.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }

.ttrackProject {
  grid-area: simple1;
  background-color: var(--beige-light);
  border: 2px solid var(--grey-hard);
  box-shadow: 3px 7px 15px -7px #6e6e6e;
  padding: 2rem; }
  .ttrackProject div {
    width: 100%;
    height: 100%;
    background-image: url(../images/project-ttrack.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }

.limpiProject {
  grid-area: simple2;
  background-color: var(--beige-light);
  border: 2px solid var(--grey-hard);
  box-shadow: 3px 7px 15px -7px #6e6e6e;
  padding: 2rem; }
  .limpiProject div {
    width: 100%;
    height: 100%;
    background-image: url(../images/project-limpi.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }

.printsProject {
  grid-area: simple3;
  background-color: var(--beige-light);
  border: 2px solid var(--grey-hard);
  box-shadow: 3px 7px 15px -7px #6e6e6e;
  padding: 2rem; }
  .printsProject div {
    width: 100%;
    height: 100%;
    background-image: url(../images/project-prints.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }

/*MEDIA QUERIES WORKS PAGE*/
@media screen and (max-width: 768px) {
  .projectsGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 250px 250px 250px 250px 250px 250px;
    grid-template-areas: "outstanding" "secondary" "tertiary" "panoramic" "simple1" "simple2" "simple3";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 75%;
    margin: 0 auto; }
  .worksMain__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto; }
    .worksMain__title h1 {
      text-align: left;
      margin: 2rem 0;
      font-size: 3.5rem;
      line-height: 3.5rem; } }

/*STYLES DIDACUS PAGE*/
/*Buttons hovers*/
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto; }
  main span {
    align-self: center;
    text-justify: center;
    font-size: 4rem;
    color: var(--purple-rocks);
    font-family: var(--font-Archivo); }
  main ul {
    margin-left: 5rem;
    font-size: 2.5rem;
    align-self: center; }

/*  DARK MODE BUTTON STYLES */
#changeTheme {
  width: 15rem;
  height: 5rem;
  font-size: 1.5rem;
  font-family: var(--font-Monserrat);
  font-weight: var(--size600);
  color: var(--grey-light);
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  box-shadow: 0px 10px 13px -7px #717171, 5px 7px 36px 2px rgba(165, 165, 165, 0); }
  #changeTheme span {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    background-image: url("../images/moon-icon.svg"); }

#changeTheme:hover {
  background-color: var(--purple-rocks);
  color: var(--beige-light);
  border: none; }

/* CONTAINER STYLES*/
.artContainer {
  display: flex;
  width: 80%;
  margin: 4rem auto;
  justify-content: center; }
  .artContainer .artContainer_text {
    width: 20rem;
    height: auto;
    margin: 2rem;
    display: flex;
    flex-direction: column; }
    .artContainer .artContainer_text div {
      background-color: var(--yellow-high);
      margin-bottom: 2rem;
      width: auto; }
      .artContainer .artContainer_text div h2 {
        font-size: 2rem;
        color: var(--grey-light);
        margin: 0.8rem; }
      .artContainer .artContainer_text div h3 {
        font-size: 2rem;
        font-weight: var(--size100);
        margin: 0.8rem; }
    .artContainer .artContainer_text p {
      font-size: 1.5rem;
      margin-bottom: 1rem; }
    .artContainer .artContainer_text .artContainer__price {
      display: flex;
      flex-direction: column;
      background-color: var(--beige-light);
      width: 100%;
      height: auto;
      justify-content: space-between;
      align-items: flex-start; }
    .artContainer .artContainer_text .price {
      font-family: var(--font-Archivo);
      font-size: 1.7rem;
      color: var(--grey-light);
      margin-bottom: 0.8rem; }
    .artContainer .artContainer_text a {
      background-color: var(--beige-light);
      border: 1px solid var(--grey-light);
      color: var(--grey-light);
      box-shadow: 3px 7px 15px -7px #6e6e6e;
      width: 15rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: var(--grey-light);
      font-family: var(--font-Archivo);
      font-size: 2rem;
      letter-spacing: -1px;
      cursor: pointer; }
    .artContainer .artContainer_text a:hover {
      background-color: var(--purple-rocks);
      color: var(--beige-light);
      border: none; }
    .artContainer .artContainer_text .callToAction {
      font-size: 1.2rem;
      margin-top: 1.5rem;
      color: var(--purple-rocks); }
  .artContainer .artContainer__photo {
    width: 50rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center; }
    .artContainer .artContainer__photo img {
      width: 50rem;
      height: 33.3rem;
      align-self: center;
      box-shadow: 0px 10px 13px -7px #000000, 5px 7px 36px 2px rgba(165, 165, 165, 0); }

/*Cart list Styles*/
.cartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem 0;
  font-size: 2rem; }
  .cartContainer .cartContainer_buyTitle {
    display: flex;
    align-items: center;
    margin-bottom: 2rem; }
    .cartContainer .cartContainer_buyTitle #cleanCart {
      background-color: var(--beige-light);
      border: 1px solid var(--grey-light);
      color: var(--grey-light);
      box-shadow: 3px 7px 15px -7px #6e6e6e;
      width: 15rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: var(--grey-light);
      font-family: var(--font-Archivo);
      font-size: 1.5rem;
      letter-spacing: -1px;
      cursor: pointer;
      margin-left: 2rem; }
    .cartContainer .cartContainer_buyTitle #cleanCart:hover {
      background-color: var(--purple-rocks);
      color: var(--beige-light);
      border: none; }
  .cartContainer .cartContainer_title {
    font-family: var(--font-Archivo);
    background-color: var(--yellow-high);
    padding: 2rem;
    color: var(--grey-light); }

/* Styles shopping list*/
.shoopingList {
  display: flex;
  width: 45rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem; }
  .shoopingList .shoopingList_price {
    font-weight: bold;
    color: var(--grey-light); }
  .shoopingList .shoopingList__productPhoto {
    width: 8rem; }

.deleteProduct {
  background-color: var(--beige-light);
  border: 1px solid var(--grey-light);
  color: var(--grey-light);
  box-shadow: 3px 7px 15px -7px #6e6e6e;
  width: 8rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--grey-light);
  font-family: var(--font-Archivo);
  font-size: 1.5rem;
  letter-spacing: -1px;
  cursor: pointer; }

.deleteProduct:hover {
  background-color: var(--purple-rocks);
  color: var(--beige-light);
  border: none; }

.cartContainer_total {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--purple-rocks);
  padding: 1rem;
  margin-bottom: 1rem; }
  .cartContainer_total p {
    color: var(--beige-light);
    font-size: 2.5rem;
    font-family: var(--font-Archivo); }

/* STYLE FOR API*/
.dollar__container {
  width: 100%;
  min-width: 32rem;
  height: 25vh;
  background-image: url("../images/dollar-banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem; }
  .dollar__container .apiContainer__title {
    color: var(--beige-light);
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    width: 50%;
    font-family: var(--font-Monserrat);
    font-weight: var(--size600);
    margin: 2rem; }

.apiContainer {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center; }
  .apiContainer .apiData {
    margin-bottom: 2rem;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center; }
    .apiContainer .apiData .api__HouseCard {
      width: 35rem;
      height: auto;
      background-color: var(--beige-light);
      box-shadow: 0px 10px 13px -7px #000000, 5px 7px 36px 2px rgba(165, 165, 165, 0);
      margin: 1rem; }
    .apiContainer .apiData .apiData_name {
      background-color: var(--yellow-high);
      padding: 1rem;
      font-size: 1.9rem;
      color: var(--grey-light);
      margin: 1rem 0; }
    .apiContainer .apiData .apiData_values {
      font-size: 1.5rem;
      margin: 0.5rem 0 1rem 1rem; }

/*MEDIA QUERIES DIDACUS ART TABLET*/
@media screen and (max-width: 768px) {
  .artContainer {
    width: 70%;
    flex-direction: column-reverse;
    margin: 1rem auto; }
  .artContainer .artContainer_text {
    width: 100%;
    margin-left: 0; }
    .artContainer .artContainer_text div {
      width: 20rem; }
  .artContainer__price {
    padding: 0rem; }
  /*TABLET 768PX TITTLE-DIDACUS*/
  .worksMain__title {
    width: 70%; }
    .worksMain__title button {
      width: auto;
      height: auto;
      padding: 1rem; } }

/*MEDIA QUERIES DIDACUS ART MOBILE*/
@media screen and (max-width: 500px) {
  .artContainer {
    width: 85%; }
    .artContainer .artContainer__photo {
      width: 28rem; }
      .artContainer .artContainer__photo img {
        width: 28rem;
        height: 18.6rem; } }

/*STYLES PROJECTS PAGES*/
/*Buttons hovers*/
.projectsMain__title {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 20px auto; }
  .projectsMain__title a {
    background-color: var(--beige-light);
    border: 1px solid var(--grey-light);
    color: var(--grey-light);
    box-shadow: 3px 7px 15px -7px #6e6e6e;
    width: 30rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--grey-light);
    font-family: var(--font-Archivo);
    font-size: 2rem;
    letter-spacing: -1px; }
  .projectsMain__title a:hover {
    background-color: var(--purple-rocks);
    color: var(--beige-light);
    border: none; }

.imageContainer {
  width: 70%;
  height: auto;
  margin: 0 auto; }
  .imageContainer img {
    width: 100%; }

.returnButton {
  width: 80%;
  height: auto;
  display: flex;
  margin: 2rem auto;
  justify-content: center; }
  .returnButton a {
    background-color: var(--beige-light);
    border: 1px solid var(--grey-light);
    color: var(--grey-light);
    box-shadow: 3px 7px 15px -7px #6e6e6e;
    width: 10rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--grey-light);
    font-family: var(--font-Archivo);
    font-size: 2rem;
    letter-spacing: -1px; }
  .returnButton a:hover {
    background-color: var(--purple-rocks);
    color: var(--beige-light);
    border: none; }

/*MEDIA QUERIES PROJECTS MOBILE 768PX */
@media screen and (max-width: 768px) {
  .projectsMain__title h1 {
    font-size: 4.5rem;
    line-height: 4rem; } }

/*MEDIA QUERIES PROJECTS MOBILE 425PX */
@media screen and (max-width: 426px) {
  .projectsMain__title {
    flex-direction: column; }
    .projectsMain__title button {
      margin-bottom: 2rem;
      width: auto;
      height: auto;
      padding: 1rem; }
    .projectsMain__title h1 {
      font-size: 3rem;
      line-height: 2.8rem;
      text-align: left; } }

/*Buttons hovers*/
.talkSection {
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 0 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .talkSection h1 {
    font-family: var(--font-Archivo);
    font-size: 4rem;
    color: var(--purple-rocks);
    margin-bottom: 2rem; }
  .talkSection img {
    width: 15rem; }
  .talkSection img:hover {
    filter: drop-shadow(5px 5px 2px #A6ABA6); }
  .talkSection .talkSection__contactCta {
    margin: 1rem;
    background-color: var(--beige-light);
    border: 2px solid var(--grey-light);
    box-shadow: 3px 7px 15px -7px #6e6e6e;
    width: 30rem;
    height: auto;
    text-align: center;
    padding: 2rem;
    text-decoration: none;
    color: var(--grey-light);
    font-family: var(--font-Archivo);
    font-size: 2rem;
    letter-spacing: -1px; }
  .talkSection .talkSection__wtp {
    border: none;
    box-shadow: none;
    width: 15rem; }
  .talkSection a {
    margin-top: 8rem;
    background-color: var(--beige-light);
    border: 1px solid var(--grey-light);
    color: var(--grey-light);
    box-shadow: 3px 7px 15px -7px #6e6e6e;
    width: 30rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--grey-light);
    font-family: var(--font-Archivo);
    font-size: 2rem;
    letter-spacing: -1px; }
  .talkSection .backtoGallery:hover {
    background-color: var(--purple-rocks);
    color: var(--beige-light);
    border: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #f2eadf; }

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif; }

/* styles main */
main {
  display: flex;
  flex-direction: column; }

/*Buttons hovers*/
/* styles home page */
/* STYLES SUPERIOR MENU*/
header {
  width: 100%; }
  header label {
    display: none;
    width: 3rem;
    height: 3rem; }
  header label:hover {
    cursor: pointer; }

#btn-menu {
  display: none; }

.topSection__menu ul {
  margin: 0;
  padding: 0;
  display: flex; }
  .topSection__menu ul li a {
    display: block;
    padding: 1.5rem 2rem; }
  .topSection__menu ul li:hover {
    background-color: var(--yellow-high); }

/* STYLES LATERAL MENU*/
nav ul li a {
  text-decoration: none;
  font-family: var(--font-Monserrat);
  color: var(--grey-light);
  font-weight: 600;
  font-size: 1.5rem; }

li {
  list-style: none;
  margin: 1.5rem 1rem 1.5rem 0; }

nav div {
  width: 4rem;
  height: 4rem;
  background-color: var(--purple-rocks);
  color: var(--purple-rocks);
  margin: 5px 0px;
  box-shadow: 3px 7px 15px -7px #6e6e6e; }

/* styles header */
.topSection {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 5rem; }
  .topSection label img {
    width: 3rem;
    height: 3rem;
    margin: 1.5rem 1.5rem 0 0; }

.logoContainer img {
  width: 7rem;
  height: auto;
  position: fixed; }

.languageContainer button a:hover {
  color: var(--beige-light); }

/* styles intro container*/
.introContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0; }

.contentContainer {
  display: flex;
  width: 80%;
  height: auto;
  margin: 0 auto;
  /*Styles photo bio*/ }
  .contentContainer .photoContainer {
    display: flex;
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: center; }
  .contentContainer .photoContainer img {
    width: 40rem;
    height: 40rem; }

/* text styles  */
.bioContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.bioContainer__name h1 {
  font-size: 4rem;
  font-weight: 100;
  text-align: left;
  color: var(--grey-light);
  animation-name: opacity;
  animation-duration: 2s;
  animation-timing-function: ease-in-out; }

.bioContainer__name p {
  font-size: 9rem;
  font-family: var(--font-Archivo);
  color: var(--grey-light);
  margin-top: -1rem;
  letter-spacing: -0.5rem;
  animation-name: opacity;
  animation-duration: 2s;
  animation-timing-function: ease-in-out; }

@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 100; } }

.bioContainer__firstProfession :first-child {
  font-size: 2.5rem;
  font-family: var(--font-Archivo);
  color: var(--grey-light);
  letter-spacing: -0.1rem; }

.bioContainer__firstProfession :nth-child(2) {
  font-size: 4rem;
  font-family: var(--font-Archivo);
  color: var(--purple-rocks);
  letter-spacing: -0.1rem; }

.bioContainer__firstProfession--rectangle {
  display: flex;
  align-items: center; }

.bioContainer__firstProfession--rectangle div {
  width: 21rem;
  height: 2.8rem;
  background-color: var(--purple-rocks);
  color: var(--purple-rocks);
  margin-right: 0.8rem;
  animation-name: growth;
  animation-duration: 2s;
  animation-timing-function: ease-in-out; }

@keyframes growth {
  0% {
    width: 0rem; }
  100% {
    width: 21rem; } }

.bioContainer__secondProfession {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center; }

.bioContainer__secondProfession :first-child {
  font-size: 3rem;
  font-family: var(--font-Archivo);
  color: var(--grey-light);
  letter-spacing: -0.1rem;
  text-align: right; }

.bioContainer__secondProfession :nth-child(2) {
  font-size: 3rem;
  font-family: var(--font-Archivo);
  color: var(--purple-rocks);
  letter-spacing: -0.1rem; }

.bioContainer__skills p {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  color: var(--grey-light);
  font-weight: 300; }

.bioContainer__skills span {
  color: var(--purple-rocks); }

/* styles menu  */
.menuContainer {
  width: 7%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  right: 0; }

/* styles about section*/
.aboutContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow-high); }
  .aboutContainer .aboutContainer__content {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .aboutContainer .aboutContainer__content .aboutContainer__identifier {
      width: 75px;
      height: 30px;
      background-color: var(--purple-rocks);
      color: var(--beige-light);
      padding: 5px;
      margin: 1rem 0;
      align-self: flex-start; }

.aboutContainer p {
  width: 30%;
  font-size: 2rem;
  text-align: left;
  font-family: var(--font-Monserrat);
  font-weight: 300; }

.aboutContainer__bio {
  width: 100%;
  height: auto;
  padding: 30px 0; }

.aboutContainer__bio div {
  width: 10%;
  height: 10px;
  background-color: var(--purple-rocks);
  color: var(--purple-rocks);
  margin-bottom: 2rem; }

.aboutContainer__bio p {
  font-size: 1.5rem;
  color: var(--grey-hard);
  width: 50rem;
  text-align: justify; }

.aboutContainer__intention {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end; }

.aboutContainer__intention div {
  background-color: var(--purple-rocks);
  padding: 3rem;
  width: 60rem;
  margin-right: 2rem; }

.aboutContainer__intention p {
  font-size: 1.5rem;
  color: var(--beige-light);
  width: 100%;
  text-align: justify; }

.aboutContainer__intention a {
  background-color: var(--purple-rocks);
  border: none;
  width: auto;
  box-shadow: 3px 7px 15px -7px #6e6e6e;
  padding: 1.5rem;
  text-decoration: none;
  font-family: var(--font-Archivo);
  font-size: 1.5rem;
  color: var(--beige-light);
  text-align: center; }

.aboutContainer__intention a:hover {
  background-color: var(--beige-light);
  color: var(--grey-light);
  border: 1px solid var(--grey-light); }

.aboutContainer__trajectory {
  width: 100%;
  height: auto;
  padding: 3rem;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem; }

.aboutContainer__trajectoryCard {
  padding: 1rem;
  width: auto; }

.aboutContainer__trajectoryCard div {
  width: 3rem;
  height: 3rem;
  box-shadow: 4px 4px 0px 1px var(--grey-hard);
  color: var(--purple-rocks);
  background-color: var(--purple-rocks);
  margin-bottom: 1rem; }

.aboutContainer__trajectoryCard :nth-child(2) {
  color: var(--grey-light);
  width: 100%; }

.aboutContainer__trajectoryCard :nth-child(3) {
  color: var(--grey-light);
  width: 100%;
  font-family: var(--font-Archivo);
  font-size: 3rem; }

.aboutContainer__trajectoryCard :nth-child(4) {
  color: var(--purple-rocks);
  width: 100%;
  font-family: var(--font-Archivo);
  font-size: 2rem; }

/* styles works section*/
.worksContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .worksContainer .worksContainer__content {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.worksContainer .worksContainer__identifier {
  width: 7.5rem;
  height: 3rem;
  background-color: var(--purple-rocks);
  color: var(--beige-light);
  padding: 0.5rem;
  margin: 1rem 0;
  font-size: 2rem;
  align-self: flex-start; }

.projectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem; }

.projectContainer__viva {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem; }

.projectContainer__image img {
  width: 30rem;
  margin: 0px 30px 0px 0px; }

.projectContainer__text,
.projectContainer__text--justifyRight {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.projectContainer__text :first-child {
  font-family: var(--font-Archivo);
  font-size: 3rem;
  color: var(--grey-light);
  letter-spacing: -1px; }

.projectContainer__text :nth-child(2) {
  color: var(--purple-rocks);
  font-size: 3.5rem;
  font-weight: 100;
  margin-top: -8px; }

.projectContainer__text :nth-child(3) {
  font-size: 1.5rem;
  color: var(--grey-hard);
  width: 100%;
  margin: 10px 0 15px;
  text-align: justify; }

/* Button styles  */
.projectContainer__text a {
  background-color: var(--yellow-high);
  border: none;
  width: 10rem;
  padding: 1.5rem;
  box-shadow: 3px 7px 15px -7px #6e6e6e;
  text-decoration: none;
  font-family: var(--font-Archivo);
  font-size: 3rem;
  letter-spacing: -1px;
  color: var(--grey-light); }

.projectContainer__text a:hover {
  background-color: var(--purple-rocks);
  color: var(--beige-light); }

.projectContainer__text--justifyRight a {
  background-color: var(--yellow-high);
  border: none;
  width: 10rem;
  padding: 1.5rem;
  box-shadow: 3px 7px 15px -7px #6e6e6e;
  text-decoration: none;
  font-family: var(--font-Archivo);
  font-size: 3rem;
  letter-spacing: -1px;
  color: var(--grey-light); }

.projectContainer__text--justifyRight a:hover {
  background-color: var(--purple-rocks);
  color: var(--beige-light); }

/* styles viva project */
.projectContainer__text--justifyRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.projectContainer__text--justifyRight :first-child {
  font-family: var(--font-Archivo);
  font-size: 3rem;
  color: var(--grey-light);
  letter-spacing: -1px; }

.projectContainer__text--justifyRight :nth-child(2) {
  color: var(--purple-rocks);
  font-size: 3.5rem;
  font-weight: 100;
  margin-top: -8px; }

.projectContainer__text--justifyRight :nth-child(3) {
  font-size: 1.5rem;
  color: var(--grey-hard);
  width: 100%;
  margin: 10px 0 15px;
  text-align: justify; }

.projectContainer__image--marginLeft img {
  width: 300px;
  margin: 0px 0px 0px 30px; }

/* styles button cta section */
.projectContainer__cta {
  display: flex;
  justify-content: center;
  margin: 5rem 0; }

.projectContainer__square {
  width: 4rem;
  height: 4rem;
  background-color: var(--yellow-high);
  color: var(--yellow-high);
  margin: 0 5px;
  box-shadow: 3px 7px 15px -7px #6e6e6e; }

.projectContainer__cta a {
  background-color: var(--yellow-high);
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  text-align: center;
  box-shadow: 3px 7px 15px -7px #6e6e6e;
  margin-left: 5px;
  text-decoration: none;
  font-family: var(--font-Archivo);
  font-size: 2rem;
  color: var(--grey-light); }

.projectContainer__cta a:hover {
  background-color: var(--purple-rocks);
  color: var(--beige-light); }

/* styles shop section*/
.shopContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center; }

.shopContainer__content {
  width: 80%;
  height: auto; }

.shopContainer .shopContainer__identifier {
  width: 75px;
  height: 30px;
  background-color: var(--purple-rocks);
  color: var(--beige-light);
  padding: 5px;
  margin-bottom: 30px;
  font-size: 2rem; }

.shopContainer__title h5 {
  font-size: 3.5rem;
  text-align: right;
  color: var(--purple-rocks);
  margin-left: 1rem; }

.shopContainer__title p {
  font-size: 12rem;
  font-family: var(--font-Archivo);
  text-align: right;
  color: var(--grey-light);
  margin-top: -2rem;
  margin-left: 1rem; }

.shopContainer__products1 {
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 3rem; }

/* styles first row product */
.shopContainer__productCard {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 50%;
  height: auto; }

.shopContainer__productContent {
  display: flex;
  margin-bottom: 2rem;
  min-width: 28rem;
  max-width: 45rem;
  box-shadow: 0px 10px 13px -7px #000000, 0px 6px 17px -5px rgba(0, 0, 0, 0);
  background-color: var(--yellow-high); }

.productContent__image {
  width: 18rem;
  height: 18rem;
  margin-right: 2rem; }

.productContent__image img {
  width: 18rem; }

.productContent__superiortext {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0; }

.productContent__superiortext--size :first-child {
  font-size: 2.5rem;
  color: var(--grey-light); }

.productContent__superiortext--size :nth-child(2) {
  font-family: var(--font-Archivo);
  font-size: 2rem;
  color: var(--grey-light); }

.productContent__inferiortext--size :first-child {
  font-size: 2rem;
  color: var(--grey-light); }

.productContent__inferiortext--size :nth-child(2) {
  font-size: 2rem;
  font-weight: 600;
  color: var(--grey-light); }

.productContent__description {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.productContent__description :first-child {
  width: 60%;
  height: auto; }

.productContent__descriptionName :first-child {
  font-size: 2rem;
  font-weight: 600;
  color: var(--grey-light); }

.productContent__descriptionName :nth-child(3) {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--grey-light); }

.productContent__descriptionName--flex {
  display: flex; }

.productContent__descriptionName--flex :first-child {
  background-color: var(--purple-rocks);
  color: var(--purple-rocks);
  width: 4rem;
  height: 2rem;
  margin-right: 1rem; }

.productContent__descriptionName--flex :nth-child(2) {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--grey-light); }

.productContent__description .productContent__descriptionButton a {
  background-color: var(--beige-light);
  border: 1px solid var(--grey-light);
  color: var(--grey-light);
  box-shadow: 3px 7px 15px -7px #6e6e6e;
  display: inline-flex;
  align-items: center;
  width: auto;
  justify-content: center;
  padding: 1rem;
  text-decoration: none;
  color: var(--grey-light);
  font-family: var(--font-Archivo);
  font-size: 2rem;
  letter-spacing: -1px; }

.productContent__description .productContent__descriptionButton a:hover {
  background-color: var(--purple-rocks);
  color: var(--beige-light);
  border: none; }

/* Styles cta shop section */
.shopContainer__cta {
  display: flex;
  justify-content: center;
  margin: 5rem 0; }

.shopContainer__square {
  width: 4rem;
  height: 4rem;
  background-color: var(--purple-rocks);
  color: var(--purple-rocks);
  margin: 0 5px;
  box-shadow: 3px 7px 15px -7px #6e6e6e; }

.shopContainer__cta a {
  background-color: var(--purple-rocks);
  border: none;
  width: auto;
  display: inline-flex;
  align-items: center;
  justify-items: center;
  padding: 1rem 2rem;
  box-shadow: 3px 7px 15px -7px #6e6e6e;
  margin-left: 5px;
  text-decoration: none;
  font-family: var(--font-Archivo);
  font-size: 2rem;
  color: var(--beige-light);
  text-align: center; }

.shopContainer__cta a:hover {
  background-color: var(--beige-light);
  color: var(--grey-light);
  border: 1px solid var(--grey-light); }

/* styles contact section*/
.contactContainer {
  width: 100%;
  height: auto;
  background-color: var(--yellow-high);
  display: flex;
  justify-content: center; }
  .contactContainer .contactContainer__content {
    width: 80%;
    height: auto; }

.contactContainer .contactContainer__identifier {
  width: 100px;
  height: 30px;
  background-color: var(--purple-rocks);
  color: var(--beige-light);
  padding: 5px;
  margin: 1rem 0 3rem;
  font-size: 2rem; }

.contactContainer__cta h6 {
  font-family: var(--font-Monserrat);
  font-weight: 100;
  font-size: 5rem;
  color: var(--grey-light); }

.contactContainer__cta p {
  font-family: var(--font-Archivo);
  font-size: 13rem;
  margin-top: -2.2rem;
  color: var(--grey-light);
  letter-spacing: -0.8rem; }

.contactContainer__mail {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  margin: 2rem 0 2rem; }

.contactContainer__mail div {
  width: 5rem;
  height: 5rem;
  background-color: var(--purple-rocks);
  color: var(--purple-rocks);
  margin-right: 10px; }

.contactContainer__mail p {
  font-family: var(--font-Monserrat);
  font-weight: 100;
  font-size: 6rem;
  color: var(--grey-light); }

.followContainer {
  display: flex;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin-top: 5rem; }

.followContainer p {
  font-family: var(--font-Archivo);
  font-size: 6rem;
  color: var(--grey-light);
  letter-spacing: -0.3rem;
  margin-right: 1rem; }

.iconContainer {
  display: flex; }

.iconContainer a img {
  margin: 1rem;
  width: 6rem;
  height: 6rem; }

.contactContainer__download {
  margin-top: 3rem; }

.contactContainer__download a {
  background-color: var(--grey-light);
  border: none;
  width: auto;
  height: auto;
  display: inline-flex;
  box-shadow: 3px 7px 15px -7px #6e6e6e;
  padding: 1rem;
  margin: 1rem 0 2rem 0;
  text-decoration: none;
  font-family: var(--font-Archivo);
  font-size: 2rem;
  color: var(--yellow-high);
  text-align: center; }

.contactContainer__download a:hover {
  background-color: var(--purple-rocks);
  color: var(--beige-light); }

/* styles footer*/
footer {
  background: linear-gradient(to right, #8e2de2, var(--purple-rocks));
  display: flex;
  align-items: center;
  color: white;
  padding-left: 8%;
  width: 100%;
  height: 40px; }

footer p {
  font-size: 1.3rem; }

/*MEDIA QUERIES HOME TABLET*/
@media screen and (max-width: 768px) {
  /*MOBILE MENU STYLES*/
  header label {
    display: block; }
  .topSection__menu {
    position: absolute;
    background-color: var(--yellow-high);
    width: 80%;
    margin-left: -85%;
    transition: all 0.5s; }
    .topSection__menu ul {
      flex-direction: column; }
    .topSection__menu ul li:nth-child(2) {
      border-top: 0.5px solid var(--grey-light); }
    .topSection__menu ul li:nth-child(3) {
      border-top: 0.5px solid var(--grey-light); }
    .topSection__menu li {
      margin: 0 1.5rem; }
  #btn-menu:checked ~ .topSection__menu {
    margin: 0; }
  /*TABLET 768PX INTRO SECTION*/
  .contentContainer {
    width: 75%; }
  .bioContainer__name P {
    font-size: 6rem; }
  .contentContainer .photoContainer img {
    width: 32rem;
    height: 32rem; }
  /*TABLET 768PX ABOUT SECTION*/
  .aboutContainer .aboutContainer__content {
    width: 75%; }
  .aboutContainer__bio p {
    width: 55rem; }
  .aboutContainer__trajectory {
    padding: 3rem 0; }
  .aboutContainer__trajectoryCard :nth-child(4) {
    font-size: 1.5rem;
    margin-top: 0.5rem; }
  /*TABLET 768PX WORKS SECTION*/
  .worksContainer .worksContainer__content {
    width: 75%; }
  .projectContainer__text :nth-child(2) {
    font-size: 2.5rem;
    margin-top: -4px; }
  .projectContainer__text--justifyRight :nth-child(2) {
    font-size: 2.5rem;
    margin-top: -4px; }
  .projectContainer__text :nth-child(3),
  .projectContainer__text--justifyRight :nth-child(3) {
    text-align: left; }
  .projectContainer__worksButton a {
    font-size: 1.5rem; }
  /*TABLET 768PX SHOP SECTION*/
  .shopContainer__content {
    width: 75%; }
  .shopContainer__title h5 {
    text-align: left; }
  .shopContainer__title p {
    text-align: left; }
  .shopContainer__products1 {
    flex-direction: column; }
  .shopContainer__productCard {
    width: 100%; }
  .shopContainer__productContent {
    max-width: 55rem; }
  .productContent__image {
    width: 35rem;
    height: 35rem; }
  .productContent__image img {
    width: 35rem; }
  .shopContainer__shopButton a {
    font-size: 1.8rem; }
  /*TABLET 768PX CONTACT SECTION*/
  .contactContainer .contactContainer__content {
    width: 75%; }
  .contactContainer__cta h6 {
    font-size: 4rem; }
  .contactContainer__cta p {
    font-size: 10rem;
    margin-top: -1rem; }
  .contactContainer__mail p {
    font-size: 4.5rem; }
  .followContainer p {
    font-size: 3rem; }
  /*TABLET 768PX MENÚ*/
  .menuContainer {
    display: none; } }

/*MEDIA QUERIES HOME MOBILE*/
@media screen and (max-width: 700px) {
  /*MOBILE 699PX HEADER AND INTRO SECTION*/
  .topSection {
    margin-bottom: 0; }
  .logoContainer img {
    width: 5rem;
    height: auto;
    position: relative; }
  .introContainer {
    margin: 0 0 2rem 0; }
  .contentContainer {
    flex-direction: column-reverse;
    align-items: center; }
  .contentContainer .bioContainer {
    width: 100%;
    align-items: center; }
  /*MOBILE 699PX ABOUT SECTION*/
  .aboutContainer__bio p {
    width: 100%;
    text-align: left; }
  .aboutContainer__intention {
    flex-direction: column;
    align-items: flex-start; }
  .aboutContainer__intention div {
    width: 100%;
    margin: 0 0 2rem 0; }
  .aboutContainer__intention div p {
    text-align: left; }
  .aboutContainer__trajectory {
    flex-direction: column; }
  .aboutContainer__trajectoryCard :nth-child(2) {
    font-size: 2.5rem; }
  /*MOBILE 699PX WORKS SECTION*/
  .projectContainer {
    flex-direction: column;
    width: 100%; }
  .projectContainer__image img {
    margin: 0px 0px 1rem 0; }
  .projectContainer__viva {
    flex-direction: column-reverse;
    width: 100%; }
  .projectContainer__text--justifyRight {
    align-items: flex-start; }
  .projectContainer__image--marginLeft img {
    margin: 0px 0px 1rem 0; }
  .projectContainer__square {
    display: none; }
  .projectContainer__worksButton {
    margin-left: 0;
    width: 80%;
    padding: 1rem; }
  /*MOBILE 699PX CONTACT SECTION*/
  .contactContainer__cta h6 {
    font-size: 2rem; }
  .contactContainer__cta p {
    font-size: 7rem; }
  .contactContainer__mail div {
    width: 3rem;
    height: 3rem; }
  .contactContainer__mail p {
    font-size: 3rem;
    margin: 1rem 0 2rem; }
  .followContainer {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem; }
  .contactContainer__download {
    margin-top: 1rem; } }

/*MOBILE 699PX SHOP SECTION*/
@media screen and (max-width: 660px) {
  .shopContainer__productContent {
    flex-direction: column; }
  .productContent__image {
    margin-right: 0;
    width: 28rem;
    height: 28rem; }
  .productContent__image img {
    width: 28rem; }
  .productContent__superiortext {
    padding: 1rem 0 1rem 1rem; } }

/*/*MEDIA QUERIES MOBILE 520PX SHOP SECTION*/
@media screen and (max-width: 520px) {
  /*MOBILE 520PX SHOP SECTION*/
  .productContent__description {
    flex-direction: column;
    align-items: flex-start; }
  .productContent__descriptionButton {
    margin-top: 1rem; }
  .productContent__description :first-child {
    width: auto; }
  .shopContainer__content {
    width: 90%; }
  .shopContainer__square {
    display: none; }
  /*MOBILE 520PX CONTACT SECTION*/
  .contactContainer__cta p {
    font-size: 5rem;
    letter-spacing: -0.2rem; }
  .contactContainer__mail p {
    font-weight: var(--size300);
    font-size: 2rem; }
  .iconContainer a img {
    width: 5rem;
    height: 5rem;
    margin-right: 0; } }
