/*Buttons hovers*/

@mixin hoverwhite{
  background-color: var(--purple-rocks);
  color: var(--beige-light);
  border: none;
}

.talkSection{
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 0 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    h1{
      font-family: var(--font-Archivo);
      font-size: 4rem;
      color: var(--purple-rocks);
      margin-bottom: 2rem;
    }
    img{
      width: 15rem;
    }
    img:hover{
      filter: drop-shadow(5px 5px 2px #A6ABA6); 
    }
    .talkSection__contactCta{
      margin: 1rem;
      background-color: var(--beige-light);
      border: 2px solid var(--grey-light);
      box-shadow: 3px 7px 15px -7px #6e6e6e;
      width: 30rem;
      height: auto;
      text-align: center;
      padding: 2rem;
      @include textbutton(2rem)
    }
    .talkSection__wtp{
      border: none;
      box-shadow: none;
      width: 15rem;
    }
    a {
      margin-top: 8rem ;
      @include buttonWhite(30rem); 
      @include textbutton(2rem);
    }
    .backtoGallery:hover{
      @include hoverwhite;
    }
}

