/*STYLES DIDACUS PAGE*/
@mixin price ($size){
  font-family: var(--font-Archivo);
  font-size: $size;
  color: var(--grey-light);
}

@mixin product ($image){
  width: 60%;
      height: auto;
      background-image:$image;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
}

main{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

/* CONTAINER STYLES*/

.artContainer{
  display: flex;
  width: 80%;
  margin: 4rem auto;
  justify-content: center;
    .artContainer_text{
      width: 20rem;
      height: auto;
      margin: 2rem;
      display: flex;
      flex-direction: column;
        div{
          background-color: var(--yellow-high);
          margin-bottom: 2rem;
          width: auto;
          padding: 1rem;
            h2{
              font-size: 2rem;
              color: var(--grey-light);
            }
            h3{
              font-size: 2rem;
              font-weight: var(--size100);
            }
        }
        p{
          font-size: 1.5rem;
          margin-bottom: 2rem;
        }
        .artContainer__price{
          display: flex;
          flex-direction: column;
          background-color: var(--beige-light);
          width: 100%;
          height: auto;
          justify-content: space-between;
          align-items: flex-start;
        }
        .price{
          @include price(2rem);
        }
        button{
          @include buttonWhite(15rem); 
            a{
              @include textbutton(2rem)
            }
        }
    }
    .artContainer__photo{
      width: 50rem;
      height: auto;
      display: flex;
      justify-content: center;
      align-content: center;
        img{
          width: 50rem;
          height: 33.3rem;
          align-self: center;
        }
    }
}

/*MEDIA QUERIES DIDACUS ART TABLET*/
@media screen and (max-width: 768px){
  .artContainer{
    width: 70%;
    flex-direction: column-reverse;
    margin: 1rem auto;
  }
  .artContainer .artContainer_text{
    width: 100%;
    margin-left: 0;
      div{
        width: 20rem;
      }
  }
  .artContainer__price{
    padding: 0rem;
  }
  /*TABLET 768PX TITTLE-DIDACUS*/
  .worksMain__title{
    width: 70%;
      button{
        width: auto;
        height: auto;
        padding: 1rem;
      }
  }
}

/*MEDIA QUERIES DIDACUS ART MOBILE*/
@media screen and (max-width: 500px){
  
  
  .artContainer{
    width: 85%;
      .artContainer__photo{
        width: 28rem;
          img{
            width: 28rem;
            height: 18.6rem;
          }
  }
  }
}