/*STYLES DIDACUS PAGE*/
@mixin price ($size){
  font-family: var(--font-Archivo);
  font-size: $size;
  color: var(--grey-light);
  margin-bottom: 0.8rem;
}

@mixin product ($image){
  width: 60%;
      height: auto;
      background-image:$image;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
}

/*Buttons hovers*/

@mixin hoverwhite{
  background-color: var(--purple-rocks);
  color: var(--beige-light);
  border: none;
}

main{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  span{
    align-self: center;
    text-justify: center;
    font-size: 4rem;
    color: var(--purple-rocks);
    font-family: var(--font-Archivo);
  }
  ul{
    margin-left: 5rem;
    font-size: 2.5rem;
    align-self: center;
  }
}

/* CONTAINER STYLES*/

.artContainer{
  display: flex;
  width: 80%;
  margin: 4rem auto;
  justify-content: center;
    .artContainer_text{
      width: 20rem;
      height: auto;
      margin: 2rem;
      display: flex;
      flex-direction: column;
        div{
          background-color: var(--yellow-high);
          margin-bottom: 2rem;
          width: auto;
            h2{
              font-size: 2rem;
              color: var(--grey-light);
              margin: 0.8rem;
            }
            h3{
              font-size: 2rem;
              font-weight: var(--size100);
              margin: 0.8rem;
            }
        }
        p{
          font-size: 1.5rem;
          margin-bottom: 1rem;
        }
        .artContainer__price{
          display: flex;
          flex-direction: column;
          background-color: var(--beige-light);
          width: 100%;
          height: auto;
          justify-content: space-between;
          align-items: flex-start;
        }
        .price{
          @include price(1.7rem);
        }
        a {
          @include buttonWhite(15rem); 
          @include textbutton(2rem);
          cursor: pointer
        }
        a:hover {
          @include hoverwhite;
        }
        
        .callToAction{
          font-size: 1.2rem;
          margin-top: 1.5rem;
          color: var(--purple-rocks);
        }
    }
    .artContainer__photo{
      width: 50rem;
      height: auto;
      display: flex;
      justify-content: center;
      align-content: center;
        img{
          width: 50rem;
          height: 33.3rem;
          align-self: center;
          box-shadow: 0px 10px 13px -7px #000000, 5px 7px 36px 2px rgba(165,165,165,0);
        }
    }
}




/*Cart list Styles*/

.cartContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem 0;
    font-size: 2rem;

    .cartContainer_buyTitle{
      display: flex;
      align-items: center;
      margin-bottom: 2rem;

      #cleanCart{
        @include buttonWhite(15rem); 
        @include textbutton(1.5rem);
        cursor: pointer;
        margin-left: 2rem;
      }
      #cleanCart:hover {
          @include hoverwhite;
      }
    }
    
    .cartContainer_title{
      font-family: var(--font-Archivo);
      background-color: var(--yellow-high);
      padding: 2rem;
      color: var(--grey-light);
    }

}

/* Styles shopping list*/

.shoopingList{
  display: flex;
  width: 45rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  .shoopingList_price{
    font-weight: bold;
    color: var(--grey-light)
  }

  .shoopingList__productPhoto{
    width: 8rem;
  }

}

.deleteProduct{
  @include buttonWhite(8rem); 
  @include textbutton(1.5rem);
  cursor: pointer;
}
.deleteProduct:hover {
  @include hoverwhite;
}

.cartContainer_total{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--purple-rocks);
    padding: 1rem;
    margin-bottom: 1rem;

    p{
      color: var(--beige-light);
      font-size: 2.5rem;
      font-family: var(--font-Archivo);
    }
    

}

/* STYLE FOR API*/

.dollar__container{

  width: 100%;
  min-width: 32rem;
  height: 25vh;
  background-image: url("../images/dollar-banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  
  .apiContainer__title{
    color: var(--beige-light);
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    width: 50%;
    font-family: var(--font-Monserrat);
    font-weight: var(--size600);
    margin: 2rem;
  }

}

.apiContainer{
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;

  .apiData{
    margin-bottom: 2rem;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;

    .api__HouseCard{
      width: 35rem;
      height: auto;
      background-color: var(--beige-light);
      box-shadow: 0px 10px 13px -7px #000000, 5px 7px 36px 2px rgba(165,165,165,0);
      margin: 1rem;
    }

    .apiData_name{
      background-color: var(--yellow-high);
      padding: 1rem;
      font-size: 1.9rem;
      color: var(--grey-light);
      margin: 1rem 0;
    }

    .apiData_values{
      font-size: 1.5rem;
      margin: 0.5rem 0 0.5rem 1rem;
    }

    
  }


}


/*MEDIA QUERIES DIDACUS ART TABLET*/
@media screen and (max-width: 768px){
  .artContainer{
    width: 70%;
    flex-direction: column-reverse;
    margin: 1rem auto;
  }
  .artContainer .artContainer_text{
    width: 100%;
    margin-left: 0;
      div{
        width: 20rem;
      }
  }
  .artContainer__price{
    padding: 0rem;
  }
  /*TABLET 768PX TITTLE-DIDACUS*/
  .worksMain__title{
    width: 70%;
      button{
        width: auto;
        height: auto;
        padding: 1rem;
      }
  }
}


/*MEDIA QUERIES DIDACUS ART MOBILE*/
@media screen and (max-width: 500px){
  
  
  .artContainer{
    width: 85%;
      .artContainer__photo{
        width: 28rem;
          img{
            width: 28rem;
            height: 18.6rem;
          }
  }
  }
}