// STYLES HOME PAGE

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2eadf;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

/* styles main */
main {
  display: flex;
  flex-direction: column;
}

/* styles home page */

/* styles menu*/

nav ul li a {
  text-decoration: none;
  font-family: var(--font-Monserrat);
  color: var(--grey-light);
  font-weight: 600;
  font-size: 1.5rem;
}

li {
  list-style: none;
  margin: 15px 0;
}

nav div {
  width: 4rem;
  height: 4rem;
  background-color: var(--purple-rocks);
  color: var(--purple-rocks);
  margin: 5px 0px;
  box-shadow: 3px 7px 15px -7px #6e6e6e;
}

/* styles header */

.topSection {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 5rem;
}

.logoContainer img {
  width: 7rem;
  position: fixed;
}

.languageContainer button a:hover {
  color: var(--beige-light);
}

/* styles intro container*/

.introContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.contentContainer {
  display: flex;
  width: 80%;
  height: auto;
  margin: 0 auto;
    /*Styles photo bio*/
    .photoContainer{
      display: flex;
      width: 50%;
      height: auto;
      justify-content: center;
      align-items: center;
    }
    .photoContainer img {
      width: 40rem;
      height: 40rem;
    }
}

/* text styles  */

.bioContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bioContainer__name h1 {
  font-size: 4rem;
  font-weight: 100;
  color: var(--grey-light);
  animation-name: opacity;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

.bioContainer__name p {
  font-size: 9rem;
  font-family: var(--font-Archivo);
  color: var(--grey-light);
  margin-top: -1rem;
  letter-spacing: -0.5rem;
  animation-name: opacity;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.bioContainer__firstProfession :first-child {
  font-size: 2.5rem;
  font-family: var(--font-Archivo);
  color: var(--grey-light);
  letter-spacing: -0.1rem;
}

.bioContainer__firstProfession :nth-child(2) {
  font-size: 4rem;
  font-family: var(--font-Archivo);
  color: var(--purple-rocks);
  letter-spacing: -0.1rem;
}

.bioContainer__firstProfession--rectangle {
  display: flex;
  align-items: center;
}

.bioContainer__firstProfession--rectangle div {
  width: 21rem;
  height: 2.8rem;
  background-color: var(--purple-rocks);
  color: var(--purple-rocks);
  margin-right: 0.8rem;
  animation-name: growth;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes growth {
  0% {
    width: 0rem;
  }
  100% {
    width: 21rem;
  }
}

.bioContainer__secondProfession {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
}

.bioContainer__secondProfession :first-child {
  font-size: 3rem;
  font-family: var(--font-Archivo);
  color: var(--grey-light);
  letter-spacing: -0.1rem;
  text-align: right;
}

.bioContainer__secondProfession :nth-child(2) {
  font-size: 3rem;
  font-family: var(--font-Archivo);
  color: var(--purple-rocks);
  letter-spacing: -0.1rem;
}

.bioContainer__skills p {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  color: var(--grey-light);
  font-weight: 300;
}

.bioContainer__skills span {
  color: var(--purple-rocks);
}

/* styles menu  */

.menuContainer {
  width: 7%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  right: 0;
}

/* styles about section*/

.aboutContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow-high);
    .aboutContainer__content{
      width: 80%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
        .aboutContainer__identifier {
          width: 75px;
          height: 30px;
          background-color: var(--purple-rocks);
          color: var(--beige-light);
          padding: 5px;
          margin: 1rem 0;
          align-self: flex-start;
        } 
    }
}

.aboutContainer p {
  width: 30%;
  font-size: 2rem;
  text-align: left;
  font-family: var(--font-Monserrat);
  font-weight: 300;
}

.aboutContainer__bio {
  width: 100%;
  height: auto;
  padding: 30px 0;
}

.aboutContainer__bio div {
  width: 10%;
  height: 10px;
  background-color: var(--purple-rocks);
  color: var(--purple-rocks);
  margin-bottom: 2rem;
}

.aboutContainer__bio p {
  font-size: 1.5rem;
  color: var(--grey-hard);
  width: 50rem;
  text-align: justify;
}

.aboutContainer__intention {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
}

.aboutContainer__intention div {
  background-color: var(--purple-rocks);
  padding: 3rem;
  width: 60rem;
  margin-right: 2rem;
}

.aboutContainer__intention p {
  font-size: 1.5rem;
  color: var(--beige-light);
  width: 100%;
  text-align: justify;
}

.aboutContainer__intention button {
  background-color: var(--purple-rocks);
  border: none;
  width: auto;
  box-shadow: 3px 7px 15px -7px #6e6e6e;
  padding: 1.5rem;
}

.aboutContainer__intention button a {
  text-decoration: none;
  font-family: var(--font-Archivo);
  font-size: 1.5rem;
  color: var(--beige-light);
}

.aboutContainer__trajectory {
  width: 100%;
  height: auto;
  padding: 3rem;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.aboutContainer__trajectoryCard {
  padding: 1rem;
  width: auto;
}

.aboutContainer__trajectoryCard div {
  width: 3rem;
  height: 3rem;
  box-shadow: 4px 4px 0px 1px var(--grey-hard);
  color: var(--purple-rocks);
  background-color: var(--purple-rocks);
  margin-bottom: 1rem;
}

.aboutContainer__trajectoryCard :nth-child(2) {
  color: var(--grey-light);
  width: 100%;
}

.aboutContainer__trajectoryCard :nth-child(3) {
  color: var(--grey-light);
  width: 100%;
  font-family: var(--font-Archivo);
  font-size: 3rem;
}
.aboutContainer__trajectoryCard :nth-child(4) {
  color: var(--purple-rocks);
  width: 100%;
  font-family: var(--font-Archivo);
  font-size: 2rem;
}

/* styles works section*/

.worksContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
      .worksContainer__content{
      width: 80%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}

.worksContainer .worksContainer__identifier {
  width: 7.5rem;
  height: 3rem;
  background-color: var(--purple-rocks);
  color: var(--beige-light);
  padding: 0.5rem;
  margin: 1rem 0;
  font-size: 2rem;
  align-self: flex-start;
}

.projectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.projectContainer__viva{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.projectContainer__image img {
  width: 30rem;
  margin: 0px 30px 0px 0px;
}

.projectContainer__text,
.projectContainer__text--justifyRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectContainer__text :first-child {
  font-family: var(--font-Archivo);
  font-size: 3rem;
  color: var(--grey-light);
  letter-spacing: -1px;
}

.projectContainer__text :nth-child(2) {
  color: var(--purple-rocks);
  font-size: 3.5rem;
  font-weight: 100;
  margin-top: -8px;
}

.projectContainer__text :nth-child(3) {
  font-size: 1.5rem;
  color: var(--grey-hard);
  width: 100%;
  margin: 10px 0 15px;
  text-align: justify;
}

/* Button styles  */

.projectContainer__text button {
  background-color: var(--yellow-high);
  border: none;
  color: var(--grey-hard);
  width: 130px;
  height: 40px;
  box-shadow: 3px 7px 15px -7px #6e6e6e;
}
.projectContainer .projectContainer__text button a {
  text-decoration: none;
  font-family: var(--font-Archivo);
  font-size: 3rem;
  letter-spacing: -1px;
}

.projectContainer__text--justifyRight button {
  background-color: var(--yellow-high);
  border: none;
  color: var(--grey-hard);
  width: 130px;
  height: 40px;
  box-shadow: 3px 7px 15px -7px #6e6e6e;
}

.projectContainer .projectContainer__text--justifyRight button a {
  text-decoration: none;
  font-family: var(--font-Archivo);
  font-size: 3rem;
  letter-spacing: -1px;
}

/* styles viva project */

.projectContainer__text--justifyRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.projectContainer__text--justifyRight :first-child {
  font-family: var(--font-Archivo);
  font-size: 3rem;
  color: var(--grey-light);
  letter-spacing: -1px;
}

.projectContainer__text--justifyRight :nth-child(2) {
  color: var(--purple-rocks);
  font-size: 3.5rem;
  font-weight: 100;
  margin-top: -8px;
}

.projectContainer__text--justifyRight :nth-child(3) {
  font-size: 1.5rem;
  color: var(--grey-hard);
  width: 100%;
  margin: 10px 0 15px;
  text-align: justify;
}

.projectContainer__image--marginLeft img {
  width: 300px;
  margin: 0px 0px 0px 30px;
}

/* styles button cta section */

.projectContainer__cta {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}

.projectContainer__square {
  width: 4rem;
  height: 4rem;
  background-color: var(--yellow-high);
  color: var(--yellow-high);
  margin: 0 5px;
  box-shadow: 3px 7px 15px -7px #6e6e6e;
}

.projectContainer__worksButton {
  background-color: var(--yellow-high);
  border: none;
  color: var(-grey-hard);
  width: 100%;
  height: auto;
  box-shadow: 3px 7px 15px -7px #6e6e6e;
  margin-left: 5px;
}

.projectContainer__worksButton a {
  text-decoration: none;
  font-family: var(--font-Archivo);
  font-size: 2rem;
  color: var(--grey-light);
}

/* styles shop section*/

.shopContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopContainer__content {
  width: 80%;
  height: auto;
}

.shopContainer .shopContainer__identifier {
  width: 75px;
  height: 30px;
  background-color: var(--purple-rocks);
  color: var(--beige-light);
  padding: 5px;
  margin-bottom: 30px;
  font-size: 2rem;
}

.shopContainer__title h5 {
  font-size: 3.5rem;
  text-align: right;
  color: var(--purple-rocks);
}

.shopContainer__title p {
  font-size: 12rem;
  font-family: var(--font-Archivo);
  text-align: right;
  color: var(--grey-light);
  margin-top: -2rem;
}

.shopContainer__products1 {
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 3rem;
}

/* styles first row product */

.shopContainer__productCard {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 50%;
  height: auto;
}

.shopContainer__productContent {
  display: flex;
  margin-bottom: 2rem;
  min-width: 30rem;
  max-width: 45rem;
  box-shadow: 0px 10px 13px -7px #000000, 0px 6px 17px -5px rgba(0, 0, 0, 0);
  background-color: var(--yellow-high);
}

.productContent__image {
  width: 18rem;
  height: 18rem;
  margin-right: 2rem;
}

.productContent__image img {
  width: 18rem;
}

.productContent__superiortext {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}

.productContent__superiortext--size :first-child {
  font-size: 2.5rem;
  color: var(--grey-light);
}

.productContent__superiortext--size :nth-child(2) {
  font-family: var(--font-Archivo);
  font-size: 2rem;
  color: var(--grey-light);
}

.productContent__inferiortext--size :first-child {
  font-size: 2rem;
  color: var(--grey-light);
}

.productContent__inferiortext--size :nth-child(2) {
  font-size: 2rem;
  font-weight: 600;
  color: var(--grey-light);
}

.productContent__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productContent__description :first-child {
  width: 60%;
  height: auto;
}

.productContent__descriptionName :first-child {
  font-size: 2rem;
  font-weight: 600;
  color: var(--grey-light);
}

.productContent__descriptionName :nth-child(3) {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--grey-light);
}

.productContent__descriptionName--flex {
  display: flex;
}

.productContent__descriptionName--flex :first-child {
  background-color: var(--purple-rocks);
  color: var(--purple-rocks);
  width: 4rem;
  height: 2rem;
  margin-right: 1rem;
}

.productContent__descriptionName--flex :nth-child(2) {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--grey-light);
}

.productContent__description .productContent__descriptionButton button {
  background-color: var(--beige-light);
  border: 1px solid var(--grey-light);
  color: var(--grey-light);
  box-shadow: 3px 7px 15px -7px #6e6e6e;
  width: 12rem;
  height: 3rem;
}
.productContent__descriptionButton button a {
  text-decoration: none;
  color: var(--grey-light);
  font-family: var(--font-Archivo);
  font-size: 2rem;
  letter-spacing: -1px;
}

/* Styles cta shop section */

.shopContainer__cta {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}

.shopContainer__square {
  width: 4rem;
  height: 4rem;
  background-color: var(--purple-rocks);
  color: var(--purple-rocks);
  margin: 0 5px;
  box-shadow: 3px 7px 15px -7px #6e6e6e;
}

.shopContainer__shopButton {
  background-color: var(--purple-rocks);
  border: none;
  width: 550px;
  height: 40px;
  box-shadow: 3px 7px 15px -7px #6e6e6e;
  margin-left: 5px;
}

.shopContainer__shopButton a {
  text-decoration: none;
  font-family: var(--font-Archivo);
  font-size: 2rem;
  color: var(--beige-light);
}

/* styles contact section*/

.contactContainer {
  width: 100%;
  height: auto;
  background-color: var(--yellow-high);
  display: flex;
  justify-content: center;
    .contactContainer__content{
      width: 80%;
      height: auto;
    }
}

.contactContainer .contactContainer__identifier {
  width: 100px;
  height: 30px;
  background-color: var(--purple-rocks);
  color: var(--beige-light);
  padding: 5px;
  margin: 1rem 0 3rem;
  font-size: 2rem;
}

.contactContainer__cta h6 {
  font-family: var(--font-Monserrat);
  font-weight: 100;
  font-size: 5rem;
  color: var(--grey-light);
}

.contactContainer__cta p {
  font-family: var(--font-Archivo);
  font-size: 13rem;
  margin-top: -2.2rem;
  color: var(--grey-light);
  letter-spacing: -0.8rem;
}

.contactContainer__mail {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  margin: 2rem 0 2rem;
}

.contactContainer__mail div {
  width: 5rem;
  height: 5rem;
  background-color: var(--purple-rocks);
  color: var(--purple-rocks);
  margin-right: 10px;
}

.contactContainer__mail p {
  font-family: var(--font-Monserrat);
  font-weight: 100;
  font-size: 6rem;
  color: var(--grey-light);
}

.followContainer {
  display: flex;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin-top: 5rem;
}

.followContainer p {
  font-family: var(--font-Archivo);
  font-size: 6rem;
  color: var(--grey-light);
  letter-spacing: -0.3rem;
  margin-right: 1rem;
}

.iconContainer {
  display: flex;
}

.iconContainer a img {
  margin: 1rem;
  width: 60px;
  height: 60px;
}

.contactContainer__download {
  margin-top: 3rem;
}

.contactContainer__download button {
  background-color: var(--grey-light);
  border: none;
  width: auto;
  height: 4rem;
  box-shadow: 3px 7px 15px -7px #6e6e6e;
  padding: 0 15px;
  margin-bottom: 3rem;
}

.contactContainer__download button a {
  text-decoration: none;
  font-family: var(--font-Archivo);
  font-size: 2rem;
  color: var(--yellow-high);
}

/* styles footer*/

footer {
  background: linear-gradient(to right, #8e2de2, var(--purple-rocks));
  display: flex;
  align-items: center;
  color: white;

  padding-left: 8%;
  width: 100%;
  height: 40px;
}

footer p {
  font-size: 1.3rem;
}

/*MEDIA QUERIES HOME TABLET*/

@media screen and (max-width: 768px){
    /*TABLET 768PX INTRO SECTION*/
    .contentContainer{
      width: 75%; 
    }
    .bioContainer__name P {
      font-size: 6rem;
    }
    .contentContainer .photoContainer img{
      width: 32rem;
      height: 32rem;
    }
    /*TABLET 768PX ABOUT SECTION*/
    .aboutContainer .aboutContainer__content{
      width: 75%;
    }
    .aboutContainer__bio p{
      width: 55rem;
    }
    .aboutContainer__trajectory{
      padding: 3rem 0;
    }
    .aboutContainer__trajectoryCard :nth-child(4){
      font-size: 1.5rem;
      margin-top: 0.5rem;
    }
    /*TABLET 768PX WORKS SECTION*/
    .worksContainer .worksContainer__content{
      width: 75%;
    }
    .projectContainer__text :nth-child(2){
      font-size: 2.5rem;
      margin-top: -4px;
    }
    .projectContainer__text--justifyRight :nth-child(2){
      font-size: 2.5rem;
      margin-top: -4px;
    }
    .projectContainer__worksButton a {
      font-size: 1.5rem;
    }
    /*TABLET 768PX SHOP SECTION*/
    .shopContainer__content{
      width: 75%;
    }
    .shopContainer__title h5{
      text-align: left;
    }
    .shopContainer__title p{
      text-align: left;
    }
    .shopContainer__products1{
      flex-direction: column;
    }
    .shopContainer__productCard{
      width: 100%;
    }
    .shopContainer__productContent{
      max-width: 55rem;
    }
    .productContent__image{
      width: 35rem;
      height: 35rem;
    }
    .productContent__image img{
      width: 35rem;
    }
    .shopContainer__shopButton a{
      font-size: 1.8rem;
    }
    /*TABLET 768PX CONTACT SECTION*/
    .contactContainer .contactContainer__content{
      width: 75%;
    }
    .contactContainer__cta h6{
      font-size: 4rem;
    }
    .contactContainer__cta p{
      font-size: 10rem; 
      margin-top: -1rem;
    }
    .contactContainer__mail p{
      font-size: 4.5rem;
    }
    .followContainer p{
      font-size: 3rem;
    }
    /*TABLET 768PX MENÚ*/
    .menuContainer{
      display: none;
    }
}
/*MEDIA QUERIES HOME MOBILE*/

@media screen and (max-width: 700px){
  /*MOBILE 699PX HEADER AND INTRO SECTION*/
  .topSection{
    margin-bottom: 0;
  }
  .logoContainer img {
    width: 5rem;
    position: relative;
  }
  .introContainer{
    margin: 0 0 2rem 0;
  }
  .contentContainer{
    flex-direction: column-reverse;
    align-items: center;
  }
  .contentContainer .bioContainer{
    width: 100%;
    align-items: center;
  }
  /*MOBILE 699PX ABOUT SECTION*/
  .aboutContainer__bio p {
    width: 100%;
  }
  .aboutContainer__intention{
    flex-direction: column;
    align-items: flex-start;
  }
  .aboutContainer__intention div {
    width: 100%;
    margin: 0 0 2rem 0;
  }
  .aboutContainer__trajectory{
    flex-direction: column;
  }
  .aboutContainer__trajectoryCard :nth-child(2){
    font-size: 2.5rem;
  }
  /*MOBILE 699PX WORKS SECTION*/
  .projectContainer{
    flex-direction: column;
  }
  .projectContainer__image img{
    margin: 0px 0px 1rem 0;
  }
  .projectContainer__viva{
    flex-direction: column-reverse;
  }
  .projectContainer__text--justifyRight{
    align-items: flex-start;
  }
  .projectContainer__image--marginLeft img{
    margin: 0px 0px 1rem 0;
  }
  .projectContainer__square{
    display: none;
  }
  .projectContainer__worksButton{
    margin-left: 0;
    width: 80%;
    padding: 1rem;
  }
  /*MOBILE 699PX SHOP SECTION*/
  
  /*MOBILE 699PX CONTACT SECTION*/
  .contactContainer__cta h6{
    font-size: 2rem;
  } 
  .contactContainer__cta p{
    font-size: 7rem;
  }
  
  .contactContainer__mail div{
    width: 3rem;
    height: 3rem;
  }
  .contactContainer__mail p{
    font-size: 3rem;
    margin: 1rem 0 2rem;
  }
  .followContainer{
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
  }
  .contactContainer__download {
    margin-top: 1rem;
  }
}