/*STYLES PROJECTS PAGES*/

/*Buttons hovers*/
@mixin hoverwhite{
  background-color: var(--purple-rocks);
  color: var(--beige-light);
  border: none;
}

.projectsMain__title{
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
  align-items: center; 
  width: 70%;
  margin: 20px auto;
    a{
      @include buttonWhite(30rem); 
      @include textbutton(2rem);
    }
    a:hover {
    @include hoverwhite;
    }   
} 
h1{
  @extend %titlePurple;
}

.imageContainer{
  width: 70%;
  height: auto;
  margin: 0 auto;
    img{
      width: 100%;
    }
}

.returnButton{
  width: 80%;
  height: auto;
  display: flex;
  margin: 2rem auto;
  justify-content: center;
    a{
      @include buttonWhite(10rem);
      @include textbutton(2rem);
    }
    a:hover {
    @include hoverwhite;
    }
}

/*MEDIA QUERIES PROJECTS MOBILE 425PX */
@media screen and (max-width: 426px){
  .projectsMain__title{
    flex-direction: column;
      button{
        margin-bottom: 2rem;
        width: auto;
        height: auto;
        padding: 1rem;
      }
      h1{
        font-size: 3rem;
        line-height: 2.8rem;
        text-align: left;
      }
  }
}