/* STYLES WORK PAGE */

@mixin buttonWhite ($width){
    background-color: var(--beige-light);
    border: 1px solid var(--grey-light);
    color: var(--grey-light);
    box-shadow: 3px 7px 15px -7px #6e6e6e;
    width: $width; 
    height: 3rem;
}  

@mixin textbutton ($fontsize) {
    text-decoration: none;
    color: var(--grey-light);
    font-family: var(--font-Archivo);
    font-size: $fontsize;
    letter-spacing: -1px;
}

%titlePurple{
  font-size: 6rem;
  text-align: right;
  color: var(--purple-rocks);
  line-height: 5rem;
}

.worksMain__title{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 100% - 20;
  margin: 2rem auto;
    button{
      @include buttonWhite(30rem); 
        a{
        @include textbutton(2rem)
        }
    } 
    h1{
      @extend %titlePurple;
    }
    
}

.feedworks{
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  width: 100vh;
}

.projectsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 750px 250px 250px 250px;
  grid-template-areas:
    "outstanding outstanding outstanding"
    "secondary tertiary tertiary"
    "panoramic panoramic panoramic"
    "simple1 simple2 simple3";

  grid-column-gap: 10px;
  grid-row-gap: 10px;

  width: 100% - 20;
  margin: 20px auto;
}

.vivaProject {
  grid-area: outstanding;
  background-color: var(--beige-light);
  border: 2px solid var(--grey-hard);
  box-shadow: 3px 7px 15px -7px #6e6e6e;
  padding: 2rem;
    div{
      width: 100%;
      height: 100%;
      background-image: url(../images/project-viva.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      
    }
}

.duffelProject {
  grid-area: secondary;
  background-color: var(--beige-light);
  border: 2px solid var(--grey-hard);
  box-shadow: 3px 7px 15px -7px #6e6e6e;
  padding: 2rem;
    div{
      width: 100%;
      height: 100%;
      background-image: url(../images/project-duffel.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      
    }
}

.omProject {
  grid-area: tertiary;
  background-color: var(--beige-light);
  border: 2px solid var(--grey-hard);
  box-shadow: 3px 7px 15px -7px #6e6e6e;
  padding: 2rem;
    div{
      width: 100%;
      height: 100%;
      background-image: url(../images/project-om.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      
    }
}

.dkaryProject {
  grid-area: panoramic;
  background-color: var(--beige-light);
  border: 2px solid var(--grey-hard);
  box-shadow: 3px 7px 15px -7px #6e6e6e;
  padding: 2rem;
    div{
      width: 100%;
      height: 100%;
      background-image: url(../images/project-dkary.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      
    }
}

.ttrackProject {
  grid-area: simple1;
  background-color: var(--beige-light);
  border: 2px solid var(--grey-hard);
  box-shadow: 3px 7px 15px -7px #6e6e6e;
  padding: 2rem;
    div{
      width: 100%;
      height: 100%;
      background-image: url(../images/project-ttrack.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      
    }
}

.limpiProject {
  grid-area: simple2;
  background-color: var(--beige-light);
  border: 2px solid var(--grey-hard);
  box-shadow: 3px 7px 15px -7px #6e6e6e;
  padding: 2rem;
    div{
      width: 100%;
      height: 100%;
      background-image: url(../images/project-limpi.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      
    }
}

.printsProject {
  grid-area: simple3;
  background-color: var(--beige-light);
  border: 2px solid var(--grey-hard);
  box-shadow: 3px 7px 15px -7px #6e6e6e;
  padding: 2rem;
    div{
      width: 100%;
      height: 100%;
      background-image: url(../images/project-prints.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      
    }
}

@media screen and (max-width: 768px){
  .projectsGrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 250px 250px 250px 250px 250px 250px;
    grid-template-areas:
    "outstanding"
    "secondary"
    "tertiary"
    "panoramic"
    "simple1"
    "simple2"
    "simple3";

  grid-column-gap: 10px;
  grid-row-gap: 10px;

  width: 80%;
  margin: 0 auto;
  }
  
  .worksMain__title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
      h1{
        text-align: left;
        margin: 2rem 0;
        font-size: 4rem;
        line-height: 3.5rem;
      }
  }
}